

/* background: url(../img/video/main-video.jpg) no-repeat 50% 50%; */

#header{position: relative; width:100%; height: 100vh; display:flex; align-items:center; justify-content:center; display:-webkit-flex; -webkit-align-items:center; -webkit-justify-content:center;}
#header .bg{position:absolute; left:0; top:0; width:100%; height: 100%; background:url(../img/bg-visual.png) repeat; }
#header .info-box{text-align: center;}

#header .info-box{
	margin-top:20%;
	-moz-transition: opacity 0.5s ease, -moz-transform 1s ease;
	-webkit-transition: opacity 0.5s ease, -webkit-transform 1s ease;
	-ms-transition: opacity 0.5s ease, -ms-transform 1s ease;
	transition: opacity 0.5s ease, transform 1s ease;
	-moz-transform: translateZ(0);
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	opacity: 1;
}

.section.is-loading *, .section.is-loading *:before, .section.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

#header.is-loading .info-box{	
	-moz-transform: translateY(100px);
	-webkit-transform: translateY(100px);
	-ms-transform: translateY(100px);
	transform: translateY(100px);
	opacity: 0;
}


#header .info-box .logo>img{display:inline-block; width:70%; max-width: 564px;}
#header .info-box .text{margin:10% 0; line-height:1.4; font-family: 'Noto Sans KR', sans-serif; font-weight: 200; font-size:3.5em; color:#fff;}
#header .info-box .text>strong{font-weight: 600;}
#header .info-box .btn-trial-apply{display: inline-block; width:52%; line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 2.5em; color:#fff; text-align:center; background:#0070ba; border-radius: 5px; }





#why-britcent{padding:5% 0; text-align: center; word-wrap:break-word; word-break:keep-all;}
#why-britcent .container-fluid{ padding:0 8%;}
#why-britcent h1{margin-bottom:10%; font-family: "Raleway", sans-serif; font-size:5em; color:#0070ba; font-weight: 400;}
#why-britcent h1>strong{font-weight: 600;}
#why-britcent .pros-box{padding:0 40px; font-family: 'Noto Sans KR', sans-serif; font-weight: 600;}
#why-britcent .pros-box .img>img{display: inline-block; width:40%;}
#why-britcent .pros-box .title{position:relative; padding:30px 0; line-height:1.4; font-size: 2.2em; color:#0070ba; letter-spacing: -0.5px;}
#why-britcent .pros-box .title:after{position: absolute; left:50%; bottom:0; margin-left:-10%; width:20%; height:2px; background: #0070ba; content:""; }
#why-britcent .pros-box .desc{margin-top:10%; padding:0 10px; line-height:1.4; font-size: 1.7em; color:#4b4b4b; letter-spacing: -0.5px; }

#why-britcent .row2{margin-top:5%;}


#whenever{position: relative; width:100%;  text-align:center;   }
#whenever .title{padding:4% 0; color:#fff; background: #0070ba; text-align: center; word-wrap:break-word; word-break:keep-all;  }
#whenever .title>h1{font-family: "Raleway", sans-serif;  font-size:5em; font-weight: 400;}
#whenever .title>h1>strong{font-weight: 600;}
#whenever .title>h4{margin-top:30px; font-family: 'Noto Sans KR', sans-serif;  font-size: 3.5em; font-weight: 400;}
#whenever .row>div{padding:0;}
#whenever .row>div>img{display: block; width:100%;}
/*
#whenever .col-sm-4:nth-child(1){background: url(../img/bg-whenever-01.jpg) no-repeat 0 0; background-size: 100% auto;}
#whenever .col-sm-4:nth-child(2){background: url(../img/bg-whenever-02.jpg) no-repeat 0 0; background-size: 100% auto;}
#whenever .col-sm-4:nth-child(3){background: url(../img/bg-whenever-03.jpg) no-repeat 0 0; background-size: 100% auto;}
*/
#whenever .loc-box{position:absolute; left:0; top:0; padding-top:40%; width:100%;}
#whenever .loc-box>h3{font-family: "Raleway", sans-serif;  font-size:5em; color:#fff; font-weight: 700; letter-spacing: -1px;}
#whenever .loc-box>p{margin-top:100px; padding: 0 20%; height:100px; line-height:1.3; overflow:hidden; font-family: 'Noto Sans KR', sans-serif; font-size:2.5em;  font-weight: 300; color:#e3e3e3; letter-spacing: -1.5px; }

#tutor{position: relative; padding-top:5%; width:100%; text-align:center; background: #f0f0f0;   }
#tutor .title{margin-bottom:60px;}
#tutor .title>h1{font-family: "Raleway", sans-serif;  font-size:4.2em; font-weight: 600; color:#0070ba;}
#tutor .title>h4{margin-top:40px; font-family: 'Noto Sans KR', sans-serif;  font-size: 2.2em; font-weight: 600; color:#000000;}
#tutor .btn-tutor-detail{margin-bottom:5%; display: inline-block; width:200px; line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 1.8em; color:#fff; text-align:center; letter-spacing: 2px; background:#0070ba; border-radius: 5px; }
#tutor .tutor-list{text-align: center;}
#tutor .tutor-list>a{display:inline-block; position:relative; margin-left:-7%; width:25%; overflow: hidden;}
#tutor .tutor-list>a:hover{z-index: 100;}
#tutor .tutor-list>a>img{display: block; width:100%;}
#tutor .tutor-list>a:first-child{margin-left:0;}
#tutor .tutor-list>a .introduce{width:100%; margin-bottom:10%; text-align: center; opacity: 0;}
#tutor .tutor-list>a .introduce .name{ line-height:1; font-family: 'Noto Sans KR', sans-serif;  font-size: 2em; font-weight: 600; color:#000000; letter-spacing: -1px; }
#tutor .tutor-list>a .introduce .name>span{position:relative; display: inline-block; padding-left:25px; background:url(../img/ico-logo.png) no-repeat left center; background-size: 20px auto;}
#tutor .tutor-list>a .introduce .name>span:after{position: absolute; left:22px; bottom:-5px; width:calc(100% - 18px); height: 10px; background:url(../img/bg-tutor-name.png) no-repeat 0 0; background-size:100% auto; content:"";}
#tutor .tutor-list>a .introduce .tag{margin-top:10px;  font-family: 'Noto Sans KR', sans-serif;  font-size: 1.5em; font-weight: 600; color:#6c6c6c; letter-spacing: -1px; }
#tutor .tutor-list>a .introduce .tag>span{padding-left:20px;}
#tutor .tutor-list>a:hover .introduce{opacity: 1;}
#tutor .tutor-list>a{ transition: transform 1.35s; -o-transition: transform 1.35s; -moz-transition: transform 1.35s; -webkit-transition: transform 1.35s; -ms-transform: transform 1.35s;}
 
#tutor .tutor-list>a:hover{
    cursor:pointer;
       transform:scale(1.1); /* 마우스 오버시 이미지 크기를 1.1 배만큼 확대시킨다. */
       -o-transform:scale(1.1); 
       -moz-transform:scale(1.1);
       -webkit-transform:scale(1.1);
	   -ms-transform:scale(1.1); 

     
}


#class{position: relative; padding:5% 0; width:100%; text-align:center; background: #fff;   }
/* #class .container-fluid{ padding:0 3%;} */
#class .class-box{ text-align: center;}
#class .class-box .img>img{width:40%;}
#class .class-box .en{margin:15% 0; padding:0 19%;  height:53px; line-height:27px; font-family: "Raleway", sans-serif;  font-size:2.3em; font-weight: 500; color:#242424; overflow: hidden;}
#class .class-box .ko{font-family: 'Noto Sans KR', sans-serif;  font-size: 1.8em; font-weight: 600; color:#939393;}

#review{position: relative; width:100%; }
#review .review-slide ul li{position: relative;}
#review .review-slide ul li img{display: block; width:100%;}
#review .review-slide ul li .bg{position:absolute; left:0; top:0; width:100%; height: 100%; background-color:rgba(0,0,0,0.4); content:"";}
#review .review-slide ul li .cont{position: absolute; left:0; bottom:20%; width:100%;}
#review .review-slide ul li .container{text-align: center;}
#review .review-slide ul li .cont h1{font-family: 'Noto Sans KR', sans-serif;  font-size: 5em; font-weight: 400; color:#fff;}
#review .review-slide ul li .cont p{display: inline-block; font-family: 'Nanum Square'; }
#review .review-slide ul li .cont .name{margin-top:4%; line-height:1.5; font-size: 2.5em; color:#e5f5ff; background: url(../img/bg-review-name.png) no-repeat center bottom; background-size: 100% auto;}
#review .review-slide ul li .cont .desc{margin-top:10%; width:60%; line-height:1.5; font-size: 3em; color:#ffffff; font-weight: 300;}

#trial-apply{position: relative; padding:7% 0; width:100%; text-align:center; background: #0070ba;   }
#trial-apply h1{font-family: "Raleway", sans-serif;  font-size:5em; font-weight: 400; color:#fff;}
#trial-apply h1>strong{font-weight: 600;}
#trial-apply .btn-trial-apply{display: inline-block; margin-top:5%; width:20%; line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 2.5em; color:#0070ba; text-align:center; background:#fff; border-radius: 5px; }






@-webkit-keyframes MenuOptionFadeIn {
    0% {
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        margin-left:-100px;
    }
    100% {
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        margin-left: 0
    }
}
@-moz-keyframes MenuOptionFadeIn {
    0% {
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        margin-left:-100px;
    }
    100% {
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        margin-left: 0
    }
}
@-o-keyframes MenuOptionFadeIn {
    0% {
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        margin-left:-100px;
    }
    100% {
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        margin-left: 0
    }
}
@keyframes MenuOptionFadeIn {
    0% {
        -moz-opacity: 0;
        -khtml-opacity: 0;
        opacity: 0;
        margin-left:-100px;
    }
    100% {
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        margin-left: 0
    }
}



/**
===================================*/
/** RESET AND LAYOUT
===================================*/
#review .review-slide .bx-wrapper {
  position: relative;
 /*  margin-bottom: 60px; */
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
/* #review .review-slide .bx-wrapper img {
  max-width: 100%;
  display: block;
} */
.bxslider {
  margin: 0;
  padding: 0;
}
ul.bxslider {
  list-style: none;
}
.bx-viewport {
  /* fix other elements on the page moving (in Chrome) */
 transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
/** THEME
===================================*/
#review .review-slide .bx-wrapper {
  /* -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  background: #fff; */
}
#review .review-slide .bx-wrapper .bx-pager,
#review .review-slide .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 15%;
  width: 100%;
}
/* LOADER */
#review .review-slide .bx-wrapper .bx-loading {
  min-height: 50px;
  background: url('../img/bx_loader.gif') center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
#review .review-slide .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
#review .review-slide .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
#review .review-slide .bx-wrapper .bx-pager.bx-default-pager a:hover,
#review .review-slide .bx-wrapper .bx-pager.bx-default-pager a.active,
#review .review-slide .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #0070ba;
}
#review .review-slide .bx-wrapper .bx-pager-item,
#review .review-slide .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
#review .review-slide .bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
#review .review-slide .bx-wrapper .bx-prev {
  left: 10px;
  background: url('../img/controls.png') no-repeat 0 -32px;
}
#review .review-slide .bx-wrapper .bx-prev:hover,
#review .review-slide .bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
#review .review-slide .bx-wrapper .bx-next {
  right: 10px;
  background: url('../img/controls.png') no-repeat -43px -32px;
}
#review .review-slide .bx-wrapper .bx-next:hover,
#review .review-slide .bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
#review .review-slide .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
#review .review-slide .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
#review .review-slide .bx-wrapper .bx-controls-auto {
  text-align: center;
}
#review .review-slide .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('../img/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}
#review .review-slide .bx-wrapper .bx-controls-auto .bx-start:hover,
#review .review-slide .bx-wrapper .bx-controls-auto .bx-start.active,
#review .review-slide .bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
#review .review-slide .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('../img/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
#review .review-slide .bx-wrapper .bx-controls-auto .bx-stop:hover,
#review .review-slide .bx-wrapper .bx-controls-auto .bx-stop.active,
#review .review-slide .bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
#review .review-slide .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
#review .review-slide .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
#review .review-slide .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
#review .review-slide .bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}



@media (max-width: 1280px) {	
	#why-britcent .container-fluid{padding:0;}
	#why-britcent .pros-box{padding:0;}
	
	#whenever .title{padding:6% 0;}
	#whenever .title>h4{margin-top:3%;}
	#whenever .loc-box>p{margin-top:35px;}
	
	#class .class-box .img>img{width:50%;}
	#class .class-box .en{padding:0; height:50px; line-height: 24px; font-size: 24px; }
	#class .class-box .ko{font-size: 18px;}	
	#tutor .tutor-list>a .introduce .name{font-size: 1.8em;}
	#tutor .tutor-list>a .introduce .tag{margin-top: 10px; font-size: 1.2em;}
	
	#review .review-slide .bx-wrapper .bx-pager{bottom:15%;}
	#review .review-slide ul li .cont{bottom:25%;}	
	#review .review-slide ul li .cont .desc{margin-top:10%; width:60%;}
		
	#trial-apply .btn-trial-apply{width:17%; font-size: 2em;}
}


@media (max-width: 992px) {
	
	#whenever .title>h1{font-size: 3.5em;}
	#whenever .title>h4{margin-top:3%; font-size: 2.5em;}	
	#whenever .loc-box>h3{font-size: 3em;}
	#whenever .loc-box>p{margin-top:30px; font-size: 2em;}
	#review .review-slide ul li .cont h1{font-size: 3.5em;}
	#review .review-slide ul li .cont .name {margin-top:4%; font-size: 2em;}
	#review .review-slide ul li .cont .desc{margin-top:10%;font-size: 2em;}
	
}

@media (min-width: 501px) and (max-width: 768px) {
	
	#header .info-box .logo>img{width:60%;}
	#header .info-box .text{margin:7% 0;}
	#header .info-box .btn-trial-apply{width:42%;}
	
	
	
	#why-britcent{padding:10% 0;}
	#why-britcent h1{margin-bottom:13%;}
	#why-britcent .container-fluid{padding:0 5%;}
	#why-britcent .pros-box{margin-bottom:20%; padding:0;}
	#why-britcent .pros-box .img>img{width:50%;}
	#why-britcent .pros-box .title{font-size: 20px;}
	#why-britcent .pros-box .desc{padding:0; font-size: 16px;}
	
	#why-britcent .row1 .col-sm-4{ float:left; width: 33.33333333%;}
	#why-britcent .row2 .col-sm-2{float:left; width:15%;}
	#why-britcent .row2 .col-sm-4{float:left; width:35%;}
	
	#whenever .col-sm-4{float:left; width: 33.33333333%;}
	#whenever .title{padding:6% 0;}
	#whenever .title>h1{font-size: 3.5em;}
	#whenever .title>h4{margin-top:3%; font-size: 2.5em;}	
	#whenever .loc-box>h3{font-size: 2.5em;}
	#whenever .loc-box>p{margin-top:25px; font-size: 1.7em;}
	
	#tutor{padding-top:10%;}
	#tutor .title{margin-bottom:5%;}
	#tutor .title>h1{font-size: 3em;}
	#tutor .title>h4{margin-top:20px; font-size: 2em;}
	#tutor .btn-tutor-detail{margin-bottom:8%; width:180px; font-size: 1.6em; line-height: 2;}
	#tutor .tutor-list>a .introduce{top:-65px;}
	#tutor .tutor-list>a .introduce .name{font-size: 1.4em;}
	#tutor .tutor-list>a .introduce .tag{margin-top:8px; font-size: 1.1em;}
	
	
	#class{padding:6% 0 3%;}
	#class .container-fluid{padding:0 8%;}
	#class .row>div{float: left; width: 33.33333333%; }
	#class .class-box{margin-bottom:20%;}
	#class .class-box .img>img{width:40%;}
	#class .class-box .en{margin:10% 0; padding:0; height:50px; line-height: 1.3; font-size: 2em;}
	#class .class-box .ko{font-size: 1.5em;}
	
	#review .review-slide .bx-wrapper .bx-pager{bottom:10%;}
	/* #review .review-slide ul li img{height: 400px;} */
	#review .review-slide ul li .cont{bottom:20%;}
	#review .review-slide ul li .cont h1{font-size: 3.5em;}
	#review .review-slide ul li .cont .name {margin-top:4%; font-size: 2em;}
	#review .review-slide ul li .cont .desc{margin-top:10%;font-size: 2em;}
	
	#trial-apply{padding:8% 0;}
	#trial-apply h1{font-size: 3em;}
	#trial-apply .btn-trial-apply{margin-top:4%; width:25%; font-size: 1.8em;}
}

@media (max-width: 500px) {
	#navPrimary.active .all-menu-list>ul>li>a{font-size: 26px;}
	#header .info-box{margin-top:45%;}
	#header .info-box .logo>img{width:60%;}
	#header .info-box .text{margin:5% 0; font-size: 24px;}
	#header .info-box .btn-trial-apply{width:42%; font-size: 16px;}
	
	#why-britcent{padding:13% 0;}
	#why-britcent h1{margin-bottom:13%; font-size: 35px;}
	#why-britcent .container-fluid{padding:0 5%;}
	#why-britcent .pros-box{margin-bottom:20%; padding:0;}
	#why-britcent .pros-box .img>img{width:50%;}
	#why-britcent .pros-box .title{font-size: 22px;}
	#why-britcent .pros-box .desc{padding:0; font-size: 16px;}
	
	#whenever .title{padding:10% 0;}
	#whenever .title>h1{font-size: 27px;}
	#whenever .title>h4{margin-top:5%; font-size: 20px;}	
	#whenever .loc-box>h3{font-size: 50px;}
	#whenever .loc-box>p{padding:0 17%; margin-top:45px; font-size: 2em;}
	
	#tutor{padding-top:15%;}
	#tutor .title{margin-bottom:10%;}
	#tutor .title>h1{font-size: 25px;}
	#tutor .title>h4{margin-top:20px; font-size: 20px;}
	#tutor .btn-tutor-detail{margin-bottom:12%; width:150px; font-size: 18px; line-height: 2;}
	#tutor .tutor-list>a{margin-left:-19%; margin-bottom:26%; width:59%;}
	#tutor .tutor-list>a:hover{margin-top:0;}
	/* #tutor .tutor-list>a:hover>img{margin-bottom:16px;} */
	#tutor .tutor-list>a:nth-child(odd){margin-left:0;}
	#tutor .tutor-list>a .introduce{margin-bottom:5%;}
	#tutor .tutor-list>a .introduce .name{font-size: 1.5em;}
	#tutor .tutor-list>a .introduce .tag{margin-top:5px; font-size: 1.1em}
	
	
	#class{padding:10% 0;}
	#class .class-box{margin-bottom:20%;}
	#class .class-box .img>img{width:50%;}
	#class .class-box .en{margin:10% 0; padding:0; height:auto; line-height: 1.3; font-size: 20px;}
	#class .class-box .ko{font-size: 16px;}
	
	#review .review-slide .bx-wrapper .bx-pager{bottom:10%;}
	#review .review-slide ul li img{height: 300px;}
	#review .review-slide ul li .cont{bottom:25%;}
	#review .review-slide ul li .cont h1{font-size: 25px;}
	#review .review-slide ul li .cont .name {font-size: 20px;}
	#review .review-slide ul li .cont .desc{width:100%; font-size: 16px;}
	
	#trial-apply{padding:15% 0;}
	#trial-apply h1{font-size: 26px;}
	#trial-apply .btn-trial-apply{margin-top:10%; width:50%; font-size: 18px;}
	
	#footer .logo{float: none; text-align: center;}
	#footer .logo>img{display: inline-block;}
	#footer .sns{float: none; margin:8% auto 0 auto;}
	#footer .copyt{margin-top:8%; font-size: 1.1em; letter-spacing: -0.5px;}
	#footer .copytp>strong{font-size: 1.2em;}
	
}
























