

/* background: url(../img/video/main-video.jpg) no-repeat 50% 50%; */
#header{position: relative; width:100%; height: 100vh; display:flex; align-items:center; justify-content:center; display:-webkit-flex; -webkit-align-items:center; -webkit-justify-content:center;}
#header .bg{position:absolute; left:0; top:0; width:100%; height: 100%; background:url(../img/bg-visual.png) repeat; }
#header .btn-scroll{position: absolute; margin-left:-13px; left:50%; bottom:7%; z-index: 15000; -webkit-animation: arrowdown 1.4s ease-in-out infinite; animation: arrowdown 1.4s ease-in-out infinite;}
#header .info-box{ margin-top:7%; text-align: center; z-index: 10;}
#header .info-box .logo{opacity: 0;}
#header .info-box .logo>img{display:inline-block; width:70%; max-width: 564px;}
#header .info-box .text{margin:10% 0; line-height:1.4; font-family: 'Noto Sans KR', sans-serif; font-weight: 200; font-size:3.5em; color:#fff; opacity: 0;}
#header .info-box .text>strong{font-weight: 600;}
#header .info-box .btn-type1{opacity: 0;}
#header .info-box .btn-type1>a{line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 2.5em;}
 @keyframes arrowdown {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px); }
  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px); }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px); } 
}
@-webkit-keyframes arrowdown {
  0% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px); }
  50% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px); }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px); } 
}
    
#why-britcent{padding:5% 0; text-align: center; word-wrap:break-word; word-break:keep-all;}
#why-britcent .container-fluid{ padding:0 8%;}
#why-britcent h1{margin-bottom:10%; font-family: "Raleway", sans-serif; font-size:5em; color:#0070ba; font-weight: 400;}
#why-britcent h1>strong{font-weight: 600;}
#why-britcent .pros-box{padding:0 40px; font-family: 'Noto Sans KR', sans-serif; font-weight: 600;}
#why-britcent .pros-box .img>img{display: inline-block; width:40%; transition: all ease 0.8s; -webkit-transition: all ease 0.8s;}
#why-britcent .pros-box .title{position:relative; padding:30px 50px; line-height:1.4; font-size: 2.2em; color:#0070ba; letter-spacing: -0.5px;}
#why-britcent .pros-box .title:after{position: absolute; left:50%; bottom:0; margin-left:-10%; width:20%; height:2px; background: #0070ba; content:""; }
#why-britcent .pros-box .desc{margin-top:10%; padding:0 40px; line-height:1.4; font-size: 1.7em; color:#4b4b4b; letter-spacing: -0.5px; }
#why-britcent .row2{margin-top:5%;}

#why-britcent .pros-box .img>img{opacity:0;transform:translate3d(0px, 40px, 0px);}
#why-britcent.loaded .pros-box .img>img{opacity:1;transform:translate3d(0px, 0px, 0px);}

#why-britcent.loaded .col-sm-4:nth-child(1) .pros-box .img>img{transition-delay: .1s;}
#why-britcent.loaded .col-sm-4:nth-child(2) .pros-box .img>img{transition-delay: .3s;}
#why-britcent.loaded .col-sm-4:nth-child(3) .pros-box .img>img{transition-delay: .5s;}
#why-britcent.loaded .col-sm-4:nth-child(4) .pros-box .img>img{transition-delay: .7s;}
#why-britcent.loaded .col-sm-4:nth-child(5) .pros-box .img>img{transition-delay: .9s;}




#whenever{position: relative; width:100%;  text-align:center;   }
#whenever .title{padding:4% 0; color:#fff; background: #0070ba; text-align: center; word-wrap:break-word; word-break:keep-all;  }
#whenever .title h1{font-family: "Raleway", sans-serif;  font-size:5em; font-weight: 400;}
#whenever .title h1>strong{font-weight: 600;}
#whenever .title h4{margin-top:30px; font-family: 'Noto Sans KR', sans-serif;  font-size: 3.5em; font-weight: 400;}

#whenever .row{background: url(../img/bg-whenever.jpg) no-repeat 0 0; background-size: cover;}
/* #whenever .row .bg{display: block; max-width:100%; width:1920px; margin:0 auto;} */
#whenever .row>div{float:left; padding:0; width:calc(100% / 3); width:-webkit-calc(100% / 3); width:-moz-calc(100% / 3); overflow: hidden; cursor: pointer;}
#whenever .row>div>img{display: block; width:100%; opacity:1; }
#whenever .row>div{background: url(../img/bg-whenever-03.png) repeat 0 0;}
#whenever .row>div:nth-child(1){background: url(../img/bg-whenever-01.png) repeat 0 0;}
#whenever .row>div:nth-child(2){background: url(../img/bg-whenever-02.png) repeat 0 0;}
#whenever .loc-box{padding:50% 0; width:100%; }

#whenever .loc-box>h3{font-family: "Raleway", sans-serif;  font-size:5em; color:#fff; font-weight: 700; letter-spacing: -1px;}
#whenever .loc-box>p{margin-top:80px; line-height:1.4; overflow:hidden; font-family: 'Noto Sans KR', sans-serif; font-size:2.5em;  font-weight: 300; color:#e3e3e3; letter-spacing: -1.5px; }
/*
#whenever .row>div>img, #whenever .loc-box{transition: transform ease-out .3s;-webkit-transition: transform ease-out .3s;-moz-transition: transform ease-out .3s;-ms-transition: transform ease-out .3s; -o-transition: transform ease-out .3s; transform:scale(1);-webkit-transform:scale(1);-moz-transform:scale(1);-ms-transform:scale(1);}
#whenever .row>div:hover>img, #whenever .row>div:hover .loc-box{opacity:1; transform:scale(1.1);-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-ms-transform:scale(1.1);}
*/

/*
#whenever .col-sm-4:nth-child(1){background: url(../img/bg-whenever-01.jpg) no-repeat 0 0; background-size: 100% auto;}
#whenever .col-sm-4:nth-child(2){background: url(../img/bg-whenever-02.jpg) no-repeat 0 0; background-size: 100% auto;}
#whenever .col-sm-4:nth-child(3){background: url(../img/bg-whenever-03.jpg) no-repeat 0 0; background-size: 100% auto;}
*/

#tutor{position: relative; padding-top:5%; width:100%; text-align:center; background: #f0f0f0;   }
#tutor .title{margin-bottom:60px;}
#tutor .title>h1{font-family: "Raleway", sans-serif;  font-size:4.2em; font-weight: 600; color:#0070ba;}
#tutor .title>h4{margin-top:40px; font-family: 'Noto Sans KR', sans-serif;  font-size: 2.2em; font-weight: 600; color:#000000;}
#tutor .btn-type1{margin-bottom:8%;}
#tutor .btn-type1>a{line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 1.8em; letter-spacing: 3px;}
#tutor .tutor-list{text-align: center;}
#tutor .tutor-list>a{display:inline-block; position:relative; margin-left:-7%; width:25%;}
#tutor .tutor-list>a:hover{z-index: 100;}
#tutor .tutor-list>a>img{display: block; width:100%;}
#tutor .tutor-list>a:first-child{margin-left:0;}
#tutor .tutor-list>a .introduce{width:100%; margin-bottom:10%; text-align: center; opacity: 0;}
#tutor .tutor-list>a .introduce .name{ line-height:1; font-family: 'Noto Sans KR', sans-serif;  font-size: 2em; font-weight: 600; color:#000000; letter-spacing: -1px; }
#tutor .tutor-list>a .introduce .name>span{position:relative; display: inline-block; padding-left:25px; background:url(../img/ico-logo.png) no-repeat left center; background-size: 20px auto;}
#tutor .tutor-list>a .introduce .name>span:after{position: absolute; left:22px; bottom:-5px; width:calc(100% - 18px); height: 10px; background:url(../img/bg-tutor-name.png) no-repeat 0 0; background-size:100% auto; content:"";}
#tutor .tutor-list>a .introduce .tag{margin-top:10px;  font-family: 'Noto Sans KR', sans-serif;  font-size: 1.5em; font-weight: 600; color:#6c6c6c; letter-spacing: -1px; }
#tutor .tutor-list>a .introduce .tag>span{padding-left:20px;}
#tutor .tutor-list>a:hover .introduce{opacity: 1; transform:translate3d(0, -95%, 0); -o-transform:translate3d(0, -95%, 0); -moz-transform:translate3d(0, -95%, 0); -webkit-transform:translate3d(0, -95%, 0); -ms-transform:translate3d(0, -95%, 0);}
#tutor .tutor-list>a .introduce, 
#tutor .tutor-list>a>img{ transition: all 1.35s; -o-transition: all 1.35s; -moz-transition: all 1.35s; -webkit-transition: all 1.35s; -ms-transform: all 1.35s;}
#tutor .tutor-list>a:hover>img{transform:scale(1.1) translate3d(0, -4%, 0); -o-transform:scale(1.1) translate3d(0, -4%, 0); -moz-transform:scale(1.1) translate3d(0, -4%, 0); -webkit-transform:scale(1.1) translate3d(0, -4%, 0); -ms-transform:scale(1.1) translate3d(0, -4%, 0);}


#class{position: relative; padding:5% 0; width:100%; text-align:center; background: #fff;   }
/* #class .container-fluid{ padding:0 3%;} */
#class .class-box{ text-align: center;}
#class .class-box .img>img{width:40%;}
#class .class-box .en{margin:15% 0; padding:0 19%;  height:53px; line-height:27px; font-family: "Raleway", sans-serif;  font-size:2.3em; font-weight: 500; color:#242424; overflow: hidden;}
#class .class-box .ko{font-family: 'Noto Sans KR', sans-serif;  font-size: 1.8em; font-weight: 600; color:#939393;}



#review{position: relative; width:100%; }
#review .review-slide ul li{position: relative;}
#review .review-slide ul li img{display: block; width:100%;}
#review .review-slide ul li .bg{position:absolute; left:0; top:0; width:100%; height: 100%; background-color:rgba(0,0,0,0.4); content:"";}
#review .review-slide ul li .cont{position: absolute; left:0; bottom:20%; width:100%;}
#review .review-slide ul li .container{text-align: center;}
#review .review-slide ul li .cont h1{font-family: 'Noto Sans KR', sans-serif;  font-size: 5em; font-weight: 400; color:#fff;}
#review .review-slide ul li .cont p{display: inline-block; font-family: 'Nanum Square'; }
#review .review-slide ul li .cont .name{margin-top:4%; line-height:1.5; font-size: 2.5em; color:#e5f5ff; background: url(../img/bg-review-name.png) no-repeat center bottom; background-size: 100% auto;}
#review .review-slide ul li .cont .desc{margin-top:10%; width:60%; line-height:1.5; font-size: 3em; color:#ffffff; font-weight: 300;}




#trial-apply{position: relative; padding:7% 0; width:100%; text-align:center; background: #0070ba;   }
#trial-apply h1{font-family: "Raleway", sans-serif;  font-size:5em; font-weight: 400; color:#fff;}
#trial-apply h1>strong{font-weight: 600;}
#trial-apply .btn-type2{margin-top:5%;}
#trial-apply .btn-type2>a{line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 2.5em;}




/* REVIEW SLIDE */

#review .review-slide .bx-wrapper {
  position: relative;
 /*  margin-bottom: 60px; */
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
/* #review .review-slide .bx-wrapper img {
  max-width: 100%;
  display: block;
} */

.bx-viewport {
  /* fix other elements on the page moving (in Chrome) */
 transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
/** THEME
===================================*/
#review .review-slide .bx-wrapper {
  /* -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  background: #fff; */
}
#review .review-slide .bx-wrapper .bx-pager,
#review .review-slide .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 15%;
  width: 100%;
}
/* LOADER */
#review .review-slide .bx-wrapper .bx-loading {
  min-height: 50px;
  background: url('../img/bx_loader.gif') center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
#review .review-slide .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
#review .review-slide .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
#review .review-slide .bx-wrapper .bx-pager.bx-default-pager a:hover,
#review .review-slide .bx-wrapper .bx-pager.bx-default-pager a.active,
#review .review-slide .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #0070ba;
}
#review .review-slide .bx-wrapper .bx-pager-item,
#review .review-slide .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
#review .review-slide .bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
#review .review-slide .bx-wrapper .bx-prev {
  left: 10px;
  background: url('../img/controls.png') no-repeat 0 -32px;
}
#review .review-slide .bx-wrapper .bx-prev:hover,
#review .review-slide .bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}
#review .review-slide .bx-wrapper .bx-next {
  right: 10px;
  background: url('../img/controls.png') no-repeat -43px -32px;
}
#review .review-slide .bx-wrapper .bx-next:hover,
#review .review-slide .bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}
#review .review-slide .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}
#review .review-slide .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
#review .review-slide .bx-wrapper .bx-controls-auto {
  text-align: center;
}
#review .review-slide .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('../img/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}
#review .review-slide .bx-wrapper .bx-controls-auto .bx-start:hover,
#review .review-slide .bx-wrapper .bx-controls-auto .bx-start.active,
#review .review-slide .bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
#review .review-slide .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('../img/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
#review .review-slide .bx-wrapper .bx-controls-auto .bx-stop:hover,
#review .review-slide .bx-wrapper .bx-controls-auto .bx-stop.active,
#review .review-slide .bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
#review .review-slide .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
#review .review-slide .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
#review .review-slide .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
#review .review-slide .bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/* REVIEW SLIDE END */

#visual.about{margin:0 auto; width:1920px; max-width:100%; height:750px; background: url(../img/about-visual.jpg) no-repeat top center; background-size:cover; overflow: hidden;}
#visual.about .bg{display: none;}

/* #visual.tutor{width:100%; height:900px; background: url(../img/tutor-visual.jpg) no-repeat top center; background-size:cover;}
#visual.tutor:after{display: block; position:absolute; left:25%; bottom:0; width:50%; height: 10px; background: #0070ba; content:"";}
#visual.tutor .tit1{position:absolute; left:37.1%; bottom:28%; width:20%; max-width:439px; height:auto; }
#visual.tutor .tit2{position:absolute; left:59%; bottom:24%; width:25%; max-width:442px; height:auto;} */

#tutor-desc *{transition: all ease 0.8s; -webkit-transition: all ease 0.8s;}
#tutor-desc ul{margin:120px 0 60px 0;}
#tutor-desc li{margin-bottom:60px; font-family: "Noto Sans KR", sans-serif; text-align: center; }
#tutor-desc li>h3{margin-bottom:15px; font-size: 32px; font-weight:700; color:#2d2d2d;}
#tutor-desc li>p{font-size: 20px; font-weight:400; color:#000000; }

/* width:calc(100% / 7); width:-webkit-calc(100% / 7); width:-moz-calc(100% / 7); */

/* #tutor-list *{transition: all ease 0.8s; -webkit-transition: all ease 0.8s;} */

#tutor-list .list{width:100%; height: auto; padding:0; margin:0; background: none;}
#tutor-list .list ul{width:1000%;}
#tutor-list .list ul>li{ float: left; position:relative; width:272px;  cursor:pointer; }
#tutor-list .list ul>li>img{display: block;width:100%; height: auto;}
#tutor-list .list ul>li .hover{opacity:0; position: absolute; left:0; top:0; width:100%; height: 100%; padding: 0; }
#tutor-list .list ul>li .hover>img{display: block; width:100%; height: 100%;}
#tutor-list .list ul>li.on .hover{opacity:1; transition: all ease 1s; -webkit-transition: all ease 1s;}

#tutor-list .slide{position: relative; margin-top:150px; width:100%; overflow: hidden;}
#tutor-list .slide ul>li{cursor: pointer;}
#tutor-list .slide ul>li>img{display: block; width:100%;}

/* #tutor-list .detail *{transition: all ease 0.8s; -webkit-transition: all ease 0.8s;} */
#tutor-list .detail{margin-bottom:200px;}
#tutor-list .detail>li{display: none; opacity:0; transition: all ease 1s; -webkit-transition: all ease 1s;}
#tutor-list .detail>li.on{display: block; opacity:1;}
#tutor-list .detail>li>img{display: block; margin:0 auto; max-width: 100%;}
#tutor-list .detail>li .info-box{margin:0 auto; width:1140px; max-width: 100%;}
#tutor-list .detail>li .info-box .first{position:relative; padding-bottom:35px; width:100%;}
#tutor-list .detail>li .info-box .first .bg{position: absolute; right:0; bottom:0;}
#tutor-list .detail>li .info-box .first .introduce{padding:40px 30px; background: #0070ba;}
#tutor-list .detail>li .info-box .first .introduce>p{font-size: 23px; font-family: 'Noto Sans KR'; font-weight: 400; color:#fff; line-height: 1.6; letter-spacing: -1px; }
#tutor-list .detail>li .info-box .second{margin-top:-25px; border:5px solid #0070ba; padding:30px; font-family: 'Noto Sans KR'; color:#0070ba; letter-spacing: -1px; }
#tutor-list .detail>li .info-box .second>h3{margin-bottom:25px; font-size: 30px; font-weight: 700; }
#tutor-list .detail>li .info-box .second>p{ line-height:1.4; font-size: 26px;  font-weight: 400; }
#tutor-list .detail>li .info-box .subject{margin-top:15px}
#tutor-list .detail>li .info-box .subject>h3{margin-bottom:0;}
#tutor-list .detail>li .info-box .subject li{float: left; margin-top:25px; width:calc(100% / 9); width:-webkit-calc(100% / 9); width:-moz-calc(100% / 9); height: 120px;}
#tutor-list .detail>li .info-box .subject li>img{display: block; margin:0 auto; max-width: 100%;}
#tutor-list .detail>li .btns{margin-top:100px; text-align: center;}
#tutor-list .detail>li .btns .btn-type1:first-child{margin-right: 40px;}
#tutor-list .detail>li .btn-type1>a{line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 2.5em;}

/* TUTOR SLIDE */

#tutor-list .bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
/* #tutor-list .bx-wrapper img {
  max-width: 100%;
  display: block;
} */

.bx-viewport {
  /* fix other elements on the page moving (in Chrome) */
 transform: translateZ(0);
  -webkit-transform: translateZ(0);
}
/** THEME
===================================*/
#tutor-list .bx-wrapper .bx-pager,
#tutor-list .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 15%;
  width: 100%;
}
/* LOADER */
#tutor-list .bx-wrapper .bx-loading {
  min-height: 50px;
  background: url('../img/bx_loader.gif') center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}
/* PAGER */
#tutor-list .bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}
#tutor-list .bx-wrapper .bx-pager.bx-default-pager a {
  background: #fff;
  text-indent: -9999px;
  display: block;
  width: 14px;
  height: 14px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
}
#tutor-list .bx-wrapper .bx-pager.bx-default-pager a:hover,
#tutor-list .bx-wrapper .bx-pager.bx-default-pager a.active,
#tutor-list .bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #0070ba;
}
#tutor-list .bx-wrapper .bx-pager-item,
#tutor-list .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline;
}
#tutor-list .bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}
/* DIRECTION CONTROLS (NEXT / PREV) */
#tutor-list .bx-wrapper .bx-prev { left: 2%; background: url('../img/tutor-slide-prev.png') no-repeat center center;}
#tutor-list .bx-wrapper .bx-next {right: 2%; background: url('../img/tutor-slide-next.png') no-repeat center center;}
#tutor-list .bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  width: 59px;
  height: 83px;
  text-indent: -9999px;
  z-index: 9999;
  opacity: 0;
  outline: 0;
  transform: translateY(-50%); 
  -webkit-transform: translateY(-50%);
  transition: all ease 0.8s; 
  -webkit-transition: all ease 0.8s;
}
#tutor-list .bx-wrapper .bx-controls-direction a.hover{opacity: 1;}


#tutor-list .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* AUTO CONTROLS (START / STOP) */
#tutor-list .bx-wrapper .bx-controls-auto {
  text-align: center;
}
#tutor-list .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('../img/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}
#tutor-list .bx-wrapper .bx-controls-auto .bx-start:hover,
#tutor-list .bx-wrapper .bx-controls-auto .bx-start.active,
#tutor-list .bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}
#tutor-list .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('../img/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}
#tutor-list .bx-wrapper .bx-controls-auto .bx-stop:hover,
#tutor-list .bx-wrapper .bx-controls-auto .bx-stop.active,
#tutor-list .bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
#tutor-list .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}
#tutor-list .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}
/* IMAGE CAPTIONS */
#tutor-list .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}
#tutor-list .bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

/* TUTOR SLIDE END */

#recruit-content .container{position:relative; margin-bottom:100px;}
#recruit-content .bg{display: block; margin:0 auto; max-width:100%;}
#recruit-content .btns{position:absolute; left:0; bottom:70px; width:100%; text-align: center;}
#recruit-content .btn-type1>a{padding:0 2em; line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 2.5em;}

#tutoring-content{margin:7% 0;}
#tutoring-content .img-cont{display: block; margin:0 auto; max-width: 100%;}
#tutoring-content .btns{margin-top:6%; text-align: center;}
#tutoring-content .btns .btn-type1:first-child{margin-right: 40px;}
#tutoring-content .btn-type1>a, #tutoring-content .btn-type2>a{padding:0; width:298px; line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 2.5em;}
#tutoring-curriculum{margin-bottom:100px;}
#tutoring-curriculum .tab-menu{padding-top:3%; background:#0070ba; }
#tutoring-curriculum .tab-content{background:#fff; }
#tutoring-curriculum h1{margin-bottom:60px; line-height:2.5; color:#fff; font-size:5em; font-family: "Raleway"; font-weight:700; text-align: center;}
#tutoring-curriculum h1>span{display: inline-block;}
#tutoring-curriculum h1>span:after{display:block; margin:0 auto; width:65%; height:0; border:1px solid #fff; content:"";}
#tutoring-curriculum .tab-menu .row{position:relative; margin:0 5%;}
#tutoring-curriculum .tab-menu .row .slide{display: block; position:absolute; left:0; bottom:0; width:calc((100% / 6) / 2); height:0; border-top:5px solid #fff; background: #fff; -webkit-transition: left 0.3s ease-out;  transition: left 0.3s ease-out; }
#tutoring-curriculum .tab-menu .row>div>a{position:relative; display: block; width:100%; height:150px; text-align: center; overflow: hidden; outline: none;}
#tutoring-curriculum .tab-menu .row>div>a .en{line-height:1.3; font-family: "Raleway", sans-serif;  font-size:2.3em; font-weight: 500; color:#fff; overflow: hidden;}
#tutoring-curriculum .tab-menu .row>div>a .ko{position:absolute; left:0; bottom:40%; width:100%; font-family: 'Noto Sans KR', sans-serif;  font-size: 1.8em; font-weight: 600; color:#a5dbff;}
/* #tutoring-curriculum .tab-menu .row>div>a:hover:after,
#tutoring-curriculum .tab-menu .row>div>a.on:after{display: block; position:absolute; left:50%; bottom:0; width:50%; height:0; border:4px solid #fff; transform: translateX(-50%); -webkit-transform: translateX(-50%); content:"";} */

#tutoring-curriculum .tab-content{margin-top:50px;}
#tutoring-curriculum .tab-content>div{display: none;}
#tutoring-curriculum .tab-content>div.on{display: block;}
#tutoring-curriculum .tab-content h2 .en{margin-top:4%; line-height:1.5; font-family: "Raleway", sans-serif; font-weight: 500;   font-size: 4.2em; color:#252525; background: url(../img/bg-tutoring-curriculum-tit.png) no-repeat center 93%; background-size: 100% auto;}
#tutoring-curriculum .tab-content h2 .ko{margin-left:17px; font-family: 'Noto Sans KR'; font-weight: 600; font-size: 2.3em; color:#5a5a5a;}
#tutoring-curriculum .tab-content h3{margin-top:30px; line-height:1.5; font-family: 'Noto Sans KR';  font-weight: 400; color:#191919; font-size: 2.3em;}
#tutoring-curriculum .tab-content dl{margin-top:5%; font-family: 'Noto Sans KR';}
#tutoring-curriculum .tab-content dl>dt{margin-bottom:15px; padding-left:45px; color:#1f1f1f; font-size: 2.4em;  font-weight: 600;}
#tutoring-curriculum .tab-content dl>dd{margin-bottom:40px; padding-left:45px; color:#111111; font-weight: 400; font-size: 1.6em; }
#tutoring-curriculum .tab-content dl>dd>strong{font-weight: 600;}
#tutoring-curriculum .tab-content dl .tit1{background: url(../img/ico-curriculum-tit-01.png) no-repeat left center;}
#tutoring-curriculum .tab-content dl .tit2{background: url(../img/ico-curriculum-tit-02.png) no-repeat left center;}
#tutoring-curriculum .tab-content dl .tit3{background: url(../img/ico-curriculum-tit-03.png) no-repeat left center;}
#tutoring-curriculum .tab-content dl .tit4{background: url(../img/ico-curriculum-tit-04.png) no-repeat left center;}
#tutoring-curriculum .btns{margin-top:6%; text-align: center;}
#tutoring-curriculum .btns .btn-type1:first-child{margin-right: 40px;}
#tutoring-curriculum .btn-type1>a, #tutoring-curriculum .btn-type2>a{padding:0; width:298px; line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 2.5em;}

#about-content .cont-01{position:relative; padding:70px 0 8% 0; background: url(../img/bg-about-01.jpg) no-repeat 50% 95%;}
#about-content .cont-01 img{display: block; margin:0 auto; width:500px; max-width: 100%;}
#about-content .cont-01 p{margin:8% 0; line-height:1.5; color:#030303; font-family: 'NanumSquare', sans-serif; font-weight: 400; font-size: 2.5em;  text-align: center;}
#about-content .cont-01 p>strong{ font-weight: 700;}

#about-content .cont-02{position:relative; width:100%; min-height: 983px; background: url(../img/bg-about-02.jpg) no-repeat top center; background-size: cover;}
#about-content .cont-02 img{display: block; margin:0 auto; max-width: 100%;}
#about-content .cont-02 .container{position: absolute; left:50%; top:0; padding-top:5.5%; width:100%; transform: translateX(-50%); -webkit-transform: translateX(-50%);}
#about-content .cont-02 p{margin-bottom:2.8%; line-height:1.7; color:#fff; font-family: 'NanumSquare', sans-serif; font-weight: 400;  font-size: 2.5em; text-align: center; letter-spacing: -1px;}
#about-content .cont-02 p .f1{font-size:1.2em; font-weight: 800;}
#about-content .cont-02 p>strong{ font-weight: 800;}
#about-content .cont-02 p .f2{font-size:1.5em; font-weight: 800;}
#about-content .cont-02 .container>img{margin-top:7%;}

#about-content .cont-03{position:relative; width:100%;}
#about-content .cont-03>img{display: block; margin:0 auto; max-width: 100%;}
#about-content .cont-03 .container{margin-top:5%; margin-bottom:10%; border-bottom: 5px solid #0070ba;}
#about-content .cont-03 p{margin-bottom:4%; line-height:1.71; color:#030303; font-family: 'NanumSquare', sans-serif; font-weight: 300; font-size: 2.4em; word-break:keep-all;}
#about-content .cont-03 .sign{position: relative; margin:10% 0 3%; width:100%;}
#about-content .cont-03 .sign>img{float: right; margin-right:50px; display: block; max-width: 100%;}

#contactus-content .addr{margin-top:6%; position:relative; width:100%; text-align: center; }
#contactus-content .addr img{display: block; margin:0 auto; max-width: 100%;}
#contactus-content .addr h1{margin-top:2%; color:#0070ba; font-family: 'NanumSquare', sans-serif; font-weight: 300; font-size: 3.054em; }
#contactus-content .addr h1>strong{font-weight: 800;}
#contactus-content .addr p{display: inline-block; margin:4% auto; padding:15px 30px; line-height:1.6; color:#0070ba; font-family: 'NanumSquare', sans-serif; font-weight: 800;  font-size: 2.256em; text-align: center; word-break: keep-all;}
#contactus-content .addr dl{display: inline-block; margin:4% auto; padding:15px 20px; color:#0070ba; font-family: 'NanumSquare', sans-serif; font-weight: 800; font-size: 2.071em; text-align: center; word-break: keep-all;}
#contactus-content .addr dl>dt{float: left; font-size: 1.3em; line-height:2.4; margin-right:20px; font-weight: 800; }
#contactus-content .addr dl>dd{float: left; line-height:1.6;}
#contactus-content .addr>iframe{margin:0 auto; width:1920px; max-width: 100%; height: 530px; border-top:5px solid #0070ba; border-bottom:5px solid #0070ba; }
#contactus-content .contact-info{margin:8% auto 13% auto; text-align: center;}
#contactus-content .contact-info>h1{color:#0070ba; font-family: "Raleway", sans-serif;font-weight: 700; font-size: 4.5em; }
#contactus-content .contact-info .list{position: relative; margin-top:4%; width:100%; background:#0070ba; }
#contactus-content .contact-info .list ul{width:100%; margin:20px 0; border-right:1px solid #fff;}
#contactus-content .contact-info .list ul>li{float: left; padding:20px; width: 20%; border-left:1px solid #fff;}
#contactus-content .contact-info .list ul>li>a>img{display: block; margin:0 auto; max-width: 100%;}
#contactus-content .contact-info .list ul>li>a>p{margin-top:20px; height:75px; line-height: 1.4; color:#fff; font-family: 'NanumSquare', sans-serif; font-size: 1.8em; font-weight: 400;  letter-spacing: -1px; }
#contactus-content .contact-info .list ul>li>a>p>img{display: inline-block; margin-right:10px;}
#contactus-content .contact-info .list ul>li>a>p>span{display: inline-block;}




















