

@media (max-width: 1280px) {	
	#why-britcent .container-fluid{padding:0;}
	#why-britcent .pros-box{padding:0;}
	
	#whenever .title{padding:6% 0;}
	#whenever .title h4{margin-top:3%;}
	#whenever .loc-box>p{margin-top:35px;}
	
	#class .class-box .img>img{width:50%;}
	#class .class-box .en{padding:0; height:50px; line-height: 24px; font-size: 24px; }
	#class .class-box .ko{font-size: 18px;}	
	#tutor .tutor-list>a .introduce .name{font-size: 1.8em;}
	#tutor .tutor-list>a .introduce .tag{margin-top: 10px; font-size: 1.2em;}
	
	#review .review-slide .bx-wrapper .bx-pager{bottom:15%;}
	#review .review-slide ul li .cont{bottom:25%;}	
	#review .review-slide ul li .cont .desc{margin-top:10%; width:60%;}
		
	#trial-apply .btn-trial-apply{width:17%; font-size: 2em;}
	
	#tutor-list .list ul>li{width:250px;}
	#tutor-list .detail>li .info-box .first{padding-bottom: 30px;}
	#tutor-list .detail>li .info-box .first .bg{display: block; width:200px;}
	#tutor-list .detail>li .info-box .second{margin-top:-20px;}
}
@media (max-width: 1120px) {
	#tutor-list .detail>li .info-box .first .introduce>p{font-size: 20px; line-height: 1.4;}
	#tutor-list .detail>li .info-box .second>h3{font-size: 26px; }
	#tutor-list .detail>li .info-box .second>p{font-size: 20px; }
	#tutor-list .detail>li .info-box .subject li{float: left; width:calc(100% / 7); width:-webkit-calc(100% / 7); width:-moz-calc(100% / 7);}
	#tutor-list .detail>li .btns{margin-top:6%;}
	#tutor-list .detail{margin-bottom:10%;}
	#tutor-list .list ul>li{width:205px;}
	
	#tutor-list .slide{margin-top:70px;}
	#tutor-list .detail>li .info-box .first{padding-bottom: 27px;}
	#tutor-list .detail>li .info-box .first .bg{display: block; width:180px;}
	#tutor-list .detail>li .info-box .second{padding:25px 20px; margin-top:-18px;}
	#tutor-list .detail>li .info-box .subject{margin-top:10px;}
}

@media (max-width: 992px) {
		
	#whenever .title h1{font-size: 3.5em;}
	#whenever .title h4{margin-top:3%; font-size: 2.5em;}	
	#whenever .loc-box>h3{font-size: 3em;}
	#whenever .loc-box>p{margin-top:30px; font-size: 2em;}
	#review .review-slide ul li .cont h1{font-size: 3.5em;}
	#review .review-slide ul li .cont .name {margin-top:4%; font-size: 2em;}
	#review .review-slide ul li .cont .desc{margin-top:10%;font-size: 2em;}
	#tutor-list .bx-wrapper .bx-controls-direction a{width:5%; background-size: 100%; auto;}
	
}



@media (min-width: 501px) and (max-width: 768px) {
	
	#header .info-box .logo>img{width:60%;}
	#header .info-box .text{margin:7% 0;}
	#header .info-box .btn-trial-apply{width:42%;}
	
	
	
	#why-britcent{padding:10% 0;}
	#why-britcent h1{margin-bottom:13%;}
	#why-britcent .container-fluid{padding:0 5%;}
	#why-britcent .pros-box{margin-bottom:20%; padding:0;}
	#why-britcent .pros-box .img>img{width:50%;}
	#why-britcent .pros-box .title{font-size: 20px;}
	#why-britcent .pros-box .desc{padding:0; font-size: 16px;}
	
	#why-britcent .row1 .col-sm-4{ float:left; width: 33.33333333%;}
	#why-britcent .row2 .col-sm-2{float:left; width:15%;}
	#why-britcent .row2 .col-sm-4{float:left; width:35%;}
	
	#whenever .col-sm-4{float:left; width: 33.33333333%;}
	#whenever .title{padding:6% 0;}
	#whenever .title h1{font-size: 3.5em;}
	#whenever .title h4{margin-top:3%; font-size: 2.5em;}	
	#whenever .loc-box>h3{font-size: 2.5em;}
	#whenever .loc-box>p{margin-top:25px; font-size: 1.7em;}
	
	#tutor{padding-top:10%;}
	#tutor .title{margin-bottom:5%;}
	#tutor .title>h1{font-size: 3em;}
	#tutor .title>h4{margin-top:20px; font-size: 2em;}
	#tutor .btn-tutor-detail{margin-bottom:9%; width:180px; font-size: 1.6em; line-height: 2;}
	#tutor .tutor-list>a .introduce{top:-65px;}
	#tutor .tutor-list>a .introduce .name{font-size: 1.4em;}
	#tutor .tutor-list>a .introduce .tag{margin-top:8px; font-size: 1.1em;}
	
	
	#class{padding:6% 0 3%;}
	#class .container-fluid{padding:0 8%;}
	#class .row>div{float: left; width: 33.33333333%; }
	#class .class-box{margin-bottom:20%;}
	#class .class-box .img>img{width:40%;}
	#class .class-box .en{margin:10% 0; padding:0; height:50px; line-height: 1.3; font-size: 2em;}
	#class .class-box .ko{font-size: 1.5em;}
	
	#review .review-slide .bx-wrapper .bx-pager{bottom:10%;}
	/* #review .review-slide ul li img{height: 400px;} */
	#review .review-slide ul li .cont{bottom:20%;}
	#review .review-slide ul li .cont h1{font-size: 3.5em;}
	#review .review-slide ul li .cont .name {margin-top:4%; font-size: 2em;}
	#review .review-slide ul li .cont .desc{margin-top:10%;font-size: 2em;}
	
	#trial-apply{padding:8% 0;}
	#trial-apply h1{font-size: 3em;}
	#trial-apply .btn-trial-apply{margin-top:4%; width:25%; font-size: 1.8em;}
	
	
	#visual .bg{height: 450px;}
	
	#tutor-desc ul{margin:10% 0 4% 0;}
	#tutor-desc li{margin-bottom:6%;}
	#tutor-desc li>h3{font-size: 24px;}
	#tutor-desc li>p{font-size: 17px;}
	
	
	#tutor-list .slide ul>li>img{height: 500px;}
	#tutor-list .list ul>li{width:192px;}
	#tutor-list .detail>li .info-box .first .introduce>p{font-size: 20px; line-height: 1.4;}
	#tutor-list .detail>li .info-box .second>h3{font-size: 24px; }
	#tutor-list .detail>li .info-box .second>p{font-size: 20px; }
	#tutor-list .detail>li .info-box .subject li{float: left; width:calc(100% / 5); width:-webkit-calc(100% / 5); width:-moz-calc(100% / 5);}
	
	#tutor-list .detail>li .btns{margin-top:6%;}
	#tutor-list .detail>li .btns>a:first-child>span{margin-right: 5%;}
	#tutor-list .detail>li .btn-type1{width:40%;font-size: 2em; line-height: 2.2;}

}

@media (max-width: 500px) {
	#navPrimary.active .all-menu-list>ul>li>a{font-size: 26px;}
	#header .info-box{margin-top:45%;}
	#header .info-box .logo>img{width:60%;}
	#header .info-box .text{margin:5% 0; font-size: 24px;}
	#header .info-box .btn-trial-apply{width:42%; font-size: 16px;}
	
	#why-britcent{padding:13% 0;}
	#why-britcent h1{margin-bottom:13%; font-size: 35px;}
	#why-britcent .container-fluid{padding:0 5%;}
	#why-britcent .pros-box{margin-bottom:20%; padding:0;}
	#why-britcent .pros-box .img>img{width:50%;}
	#why-britcent .pros-box .title{font-size: 22px;}
	#why-britcent .pros-box .desc{padding:0; font-size: 16px;}
	
	#whenever .title{padding:10% 0;}
	#whenever .title h1{font-size: 27px;}
	#whenever .title h4{margin-top:5%; font-size: 20px;}	
	#whenever .loc-box>h3{font-size: 50px;}
	#whenever .loc-box>p{padding:0 17%; margin-top:45px; font-size: 2em;}
	
	#tutor{padding-top:15%;}
	#tutor .title{margin-bottom:10%;}
	#tutor .title>h1{font-size: 25px;}
	#tutor .title>h4{margin-top:20px; font-size: 20px;}
	#tutor .btn-tutor-detail{margin-bottom:16%; width:150px; font-size: 18px; line-height: 2;}
	#tutor .tutor-list>a{margin-left:-19%; margin-bottom:26%; width:59%;}
	#tutor .tutor-list>a:hover{margin-top:0;}
	/* #tutor .tutor-list>a:hover>img{margin-bottom:16px;} */
	#tutor .tutor-list>a:nth-child(odd){margin-left:0;}
	#tutor .tutor-list>a .introduce{margin-bottom:5%;}
	#tutor .tutor-list>a .introduce .name{font-size: 1.5em;}
	#tutor .tutor-list>a .introduce .tag{margin-top:5px; font-size: 1.1em}
	
	
	#class{padding:10% 0;}
	#class .class-box{margin-bottom:20%;}
	#class .class-box .img>img{width:50%;}
	#class .class-box .en{margin:10% 0; padding:0; height:auto; line-height: 1.3; font-size: 20px;}
	#class .class-box .ko{font-size: 16px;}
	
	#review .review-slide .bx-wrapper .bx-pager{bottom:10%;}
	#review .review-slide ul li img{height: 300px;}
	#review .review-slide ul li .cont{bottom:25%;}
	#review .review-slide ul li .cont h1{font-size: 25px;}
	#review .review-slide ul li .cont .name {font-size: 20px;}
	#review .review-slide ul li .cont .desc{width:100%; font-size: 16px;}
	
	#trial-apply{padding:15% 0;}
	#trial-apply h1{font-size: 26px;}
	#trial-apply .btn-trial-apply{margin-top:10%; width:50%; font-size: 18px;}
	
	#footer .logo{float: none; text-align: center;}
	#footer .logo>img{display: inline-block;}
	#footer .sns{float: none; margin:8% auto 0 auto;}
	#footer .copyt{margin-top:8%; font-size: 1.1em; letter-spacing: -0.5px;}
	#footer .copytp>strong{font-size: 1.2em;}
	
	#visual .bg{height: 350px;}
	
	#tutor-desc ul{margin:13% 0 0 0;}
	#tutor-desc li{padding:0 20px; margin-bottom:13%;}
	#tutor-desc li>h3{font-size: 22px;}
	#tutor-desc li>p{font-size: 15px; line-height: 1.3;}
	
	#tutor-list .slide {margin-top:50px;}
	
	#tutor-list .list ul>li{width:120px;}
	
	#tutor-list .slide ul>li>img{height: 300px;}
	#tutor-list .detail>li{padding:0;}
	#tutor-list .detail>li .info-box .first .introduce{padding:30px 15px;}
	#tutor-list .detail>li .info-box .first .introduce>p{font-size: 15px; line-height: 1.4;}
	#tutor-list .detail>li .info-box .second{padding:20px 15px;}
	#tutor-list .detail>li .info-box .second>h3{margin-bottom:10px; font-size: 18px; }
	#tutor-list .detail>li .info-box .second>p{font-size: 15px; }
	#tutor-list .detail>li .info-box .subject li{width:calc(100% / 3); width:-webkit-calc(100% / 3); width:-moz-calc(100% / 3);}
	#tutor-list .detail>li .btns{margin-top:4%; padding:0 15px;}
	#tutor-list .detail>li .btns>a:first-child>span{margin-right: 0; }
	#tutor-list .detail>li .btn-type1{margin-top:6%; width:100%;font-size: 2em; line-height: 2.5;}
}














