@media (max-width: 1600px) {
	#tutoring-curriculum .tab-menu .row{margin:0;}
}
@media (max-width: 1400px) {
	.btn-type1>a, .btn-type2>a{padding:0; width:260px; line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 1.5em; text-align: center;}	
	
	#whenever .title h1{font-size: 3.5em;}
	#whenever .title h4{font-size: 2.7em;}
	#whenever .loc-box>h3{font-size:3.4em;}	
	#whenever .loc-box>p{width:60%; font-size:1.7em; }
	
	#tutor{padding-top:8%;}	
	#tutor .title{margin-bottom:70px;}
	#tutor .title>h1{font-size: 3.6em;}
	#tutor .title>h4{margin-top: 28px; font-size: 2em;}
	#tutor .btn-type1{margin-bottom:12%;}
	#tutor .tutor-list>a:hover .introduce{opacity: 1; transform:translate3d(0, -130%, 0); -o-transform:translate3d(0, -130%, 0); -moz-transform:translate3d(0, -130%, 0); -webkit-transform:translate3d(0, -130%, 0); -ms-transform:translate3d(0, -130%, 0);}
	#tutor .tutor-list>a .introduce .name{font-size: 1.4em;}
	#tutor .tutor-list>a .introduce .tag{margin-top: 10px; font-size: 1.1em;}
	
	#class .class-box .img>img{width:50%;}
	#class .class-box .en{padding:0; height:50px; line-height: 1; font-size: 1.5em; }
	#class .class-box .ko{font-size: 1.2em;}
	
	#review .review-slide ul li .cont h1{font-size: 3.5em;}
	#review .review-slide ul li .cont .name{font-size: 2em;}
	#review .review-slide ul li .cont .desc{font-size: 1.7em;}
	
	#trial-apply h1{font-size: 3.8em;}
	
	#about-content .cont-01{background-size: 80% auto; background-position: 50% 94%;}
	#about-content .cont-01 .logo{width:350px;}
	#about-content .cont-01 .img{width:490px;}
	#about-content .cont-01 p{font-size: 1.6em;}	
	
	#about-content .cont-02{min-height:800px; }
	#about-content .cont-02 p{font-size: 1.7em;}
	#about-content .cont-02 img{width:740px;}
	#about-content .cont-02 .container>img{margin-top:7%;}
	#about-content .cont-03 p{font-size:1.6em; }
	
	#about-content .cont-03 .sign>img{width:250px;}
	
	#tutoring-curriculum h1{font-size: 3.5em;}
	#tutoring-curriculum .tab-menu .row>div>a{height: 160px;}
	#tutoring-curriculum .tab-menu .row>div>a .en{font-size: 2em;}
	#tutoring-curriculum .tab-menu .row>div>a .ko{font-size: 1.5em;}
	#tutoring-curriculum .tab-content h2 .en{font-size: 2.1em;}
	#tutoring-curriculum .tab-content h2 .ko{font-size: 1.2em;}
	#tutoring-curriculum .tab-content h3{font-size: 1.7em;}
	#tutoring-curriculum .tab-content dl>dt{font-size: 2em;}
	#tutoring-curriculum .tab-content dl>dd{font-size: 1.4em;}
	
	#recruit-content .bg{max-width: 80%;}
	
	#contactus-content .addr h1{font-size: 2.8em;}
	#contactus-content .addr p{font-size: 2.1em;}
	#contactus-content .addr dl{font-size: 1.7em;}
	#contactus-content .addr dl>dt{font-size: 1.2em;}
	#contactus-content .contact-info>h1{font-size: 3em;}
	#contactus-content .contact-info .list ul>li>a>img{max-width: 50%;}
	#contactus-content .contact-info .list ul>li>a>p{font-size: 1.3em; ;}
	
}

@media (max-width: 1280px) {	
	
	#why-britcent .container-fluid{padding:0;}
	#why-britcent .pros-box{padding:0;}
	
	#whenever .title{padding:6% 0;}
	#whenever .title h4{margin-top:3%;}
	#whenever .loc-box>p{width:80%;}
		
	#tutor-list .list ul>li{width:250px;}
	#tutor-list .detail>li .info-box .first{padding-bottom: 30px;}
	#tutor-list .detail>li .info-box .first .bg{display: block; width:200px;}
	#tutor-list .detail>li .info-box .second{margin-top:-20px;}	
	
	#review .review-slide .bx-wrapper .bx-pager{bottom:10%;}
	#review .review-slide ul li .cont .desc{margin-top:10%; width:60%;}	
	
	#tutoring-curriculum h1{font-size: 3em;}
	#tutoring-curriculum .tab-menu .row {margin: 0 -15px;}
	#tutoring-curriculum .tab-menu .row>div>a{height: 160px;}
	#tutoring-curriculum .tab-menu .row>div>a .en{font-size: 1.6em;}
	#tutoring-curriculum .tab-menu .row>div>a .ko{font-size: 1.3em;}
	#tutoring-curriculum .tab-content h2 .en{font-size: 1.8em;}
	#tutoring-curriculum .tab-content h2 .ko{font-size: 1.1em;}
	#tutoring-curriculum .tab-content h3{font-size: 1.5em;}
	#tutoring-curriculum .tab-content dl>dt{font-size: 1.7em;}
	#tutoring-curriculum .tab-content dl>dd{font-size: 1.3em;}
	
	#recruit-content .bg{max-width: 75%;}
}

@media (max-width: 1140px) {
	#tutor-list .detail>li .info-box .first .introduce>p{font-size: 20px; line-height: 1.4;}
	#tutor-list .detail>li .info-box .second>h3{font-size: 26px; }
	#tutor-list .detail>li .info-box .second>p{font-size: 20px; }
	#tutor-list .detail>li .info-box .subject li{float: left; width:calc(100% / 7); width:-webkit-calc(100% / 7); width:-moz-calc(100% / 7);}
	#tutor-list .detail>li .btns{margin-top:6%;}
	#tutor-list .detail{margin-bottom:10%;}
	#tutor-list .list ul>li{width:205px;}
	
	#tutor-list .slide{margin-top:70px;}
	#tutor-list .detail>li .info-box .first{padding-bottom: 27px;}
	#tutor-list .detail>li .info-box .first .bg{display: block; width:180px;}
	#tutor-list .detail>li .info-box .second{padding:25px 20px; margin-top:-18px;}
	#tutor-list .detail>li .info-box .subject{margin-top:10px;}
	
}


@media (max-width: 1024px) {
	#visual{padding-top:40%; height:0;  background-position: 0 0; background-size: 100% auto;}
	
	
	#whenever .title h1{font-size: 3em;}
	#whenever .title h4{margin-top:3%; font-size: 2.4em;}
	#whenever .loc-box>h3{font-size: 3em;}
	#whenever .loc-box>p{margin-top:55px; font-size: 1.4em;}
	
	#review .review-slide .bx-wrapper .bx-pager{bottom:10%;}
	#review .review-slide ul li .cont{bottom:22%;}
	#review .review-slide ul li .cont>h1{bottom:25%; font-size: 3em;}
	#review .review-slide ul li .cont .name{font-size: 2.2em;}	
	#review .review-slide ul li .cont .desc{margin-top:10%; width:60%; font-size: 1.7em; }	
	
	#about-content .cont-01{background-size: 95% auto;}
	#about-content .cont-02 p{font-size: 1.5em;}
	#about-content .cont-02 img{width:650px;}
	#about-content .cont-02 .container>img{margin-top:9%;}
	#about-content .cont-03 p{font-size: 1.5em;}	
}

@media (max-width: 992px) {
	
	#visual .o{display: none;}
	#visual .m{display: block;}
	
	#header .info-box{margin-top:15%;}	
	#header .info-box .logo>img{width:60%;}
	#header .info-box .text{margin:12% 0; font-size: 2.6em;}
	
	#whenever .loc-box>p{width:85%;}
	
	#why-britcent .pros-box .title{font-size: 1.4em;}
	#why-britcent .pros-box .desc{padding: 0 10px; font-size: 1.1em;}	
	#why-britcent{padding:10% 0;}
	#why-britcent h1{margin-bottom:12%; font-size: 4em;}
	
	#review .review-slide ul li .cont h1{font-size: 3em;}
	#review .review-slide ul li .cont .name {margin-top:4%; font-size: 1.8em;}
	#review .review-slide ul li .cont .desc{margin-top:10%;font-size: 1.5em;}
	
	#class .class-box .en{padding:0; height:37px; line-height: 1; font-size: 1.3em; }
	#class .class-box .ko{font-size: 1.1em;}
	
	#trial-apply h1{font-size: 3.3em;}
	
	#tutor-list .bx-wrapper .bx-controls-direction a{width:5%; background-size: 100%; auto;}
	#recruit-content .btns{bottom:55px;}
	
	#about-content .cont-02{min-height: 750px;}
	
	#tutoring-curriculum h1{font-size: 2.5em;}
	#tutoring-curriculum .tab-menu .row>div>a{height: 140px;}
	#tutoring-curriculum .tab-menu .row>div>a .en{font-size: 1.4em;}
	#tutoring-curriculum .tab-menu .row>div>a .ko{font-size: 1.2em;}
	#tutoring-curriculum .tab-content h2 .en{font-size: 1.6em;}
	#tutoring-curriculum .tab-content h2 .ko{font-size: 1em;}
	#tutoring-curriculum .tab-content h3{font-size: 1.5em;}
	#tutoring-curriculum .tab-content dl>dt{font-size: 1.7em;}
	#tutoring-curriculum .tab-content dl>dd{font-size: 1.3em;}
	
	#recruit-content .bg{max-width: 100%;}
	
	#contactus-content .addr{margin-top:6%;}
	#contactus-content .addr h1{margin-top:4%; font-size: 2.4em;}
	#contactus-content .addr img{max-width: 14%;}
	#contactus-content .addr p{font-size: 1.8em;}
	#contactus-content .addr dl{font-size: 1.5em;}
	#contactus-content .addr dl>dt{font-size: 1.2em;}
	#contactus-content .contact-info>h1{font-size: 2.5em;}
	#contactus-content .contact-info .list ul>li{padding:10px;}
	#contactus-content .contact-info .list ul>li>a>img{max-width: 60%;}
	#contactus-content .contact-info .list ul>li>a>p{font-size: 1.1em; line-height: 1.2;}
	#contactus-content .contact-info .list ul>li>a>p>img{max-width: 26%;}

}

@media (max-width: 768px) {
	
	#visual{padding-top:81.8%; height:0; background-size: 100% auto; }
	#visual.tutor{background-image: url(../img/m/tutor-visual.jpg);}
	#visual.about{background-image: url(../img/m/about-visual.jpg);}	
	#visual.tutoring{background-image: url(../img/m/tutoring-visual.jpg);}
	#visual.recruit{background-image: url(../img/m/recruit-visual.jpg);}
	#visual.editing{background-image: url(../img/m/editing-visual.jpg);}
	#visual.community{background-image: url(../img/m/community-visual.jpg);}
	#visual.contactus{background-image: url(../img/m/contactus-visual.jpg);}
	
	#top-btn{top:inherit; bottom:10px; right:10px; width:44px; height:44px;}
	#top-btn a{background-size:44px 44px;}
	.btn-type1>a, .btn-type2>a{padding:0; width:250px; line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 1.6em; text-align: center;}

	#header .info-box{margin-top:18%;}
	#header .info-box .logo>img{width:55%;}
	#header .info-box .text{margin:10% 0; font-size: 2.5em;}			
	
	#why-britcent{padding:15% 0;}
	#why-britcent h1{font-size:4em; margin-bottom:13%;}
	#why-britcent .container-fluid{padding:0 5%;}
	#why-britcent .pros-box{margin-bottom:20%; padding:0;}
	#why-britcent .pros-box .img>img{width:50%;}
	#why-britcent .pros-box .title{padding:30px 0; font-size: 1.4em;}
	#why-britcent .pros-box .desc{padding:0; font-size: 1.1em; word-break: keep-all;}
	
	#why-britcent .row1 .col-sm-4{ float:left; width: 33.33333333%;}
	#why-britcent .row2 .col-sm-2{float:left; width:15%;}
	#why-britcent .row2 .col-sm-4{float:left; width:35%;}
	
	#whenever .row{background: url(../img/m/bg-whenever.jpg) no-repeat center center; background-size: 100% auto;}
	#whenever .col-sm-4{float:left; width: 33.33333333%;}
	#whenever .title{padding:6% 0;}
	#whenever .title h1{font-size: 2.8em;}
	#whenever .title h4{margin-top:3%; font-size: 2em;}	
	#whenever .loc-box>h3{font-size: 2.5em;}
	#whenever .loc-box>p{margin-top:40px; width:84%; height:90px; font-size: 1.3em;}
	
	#tutor{padding-top:15%;}
	#tutor .title{margin-bottom:50px;}
	#tutor .title>h1{font-size: 3.3em;}
	#tutor .title>h4{margin-top:30px; font-size: 2.1em;}
	#tutor .btn-type1{margin-bottom:100px; }
	#tutor .tutor-list>a .introduce{top:-65px;}
	#tutor .tutor-list>a .introduce .name{font-size: 1.4em;}
	#tutor .tutor-list>a .introduce .tag{margin-top:8px; font-size: 1.1em;}
	
	
	#class{padding:6% 0 3%;}
	#class .container-fluid{padding:0 15px;}
	#class .row>div{float: left; width: 33.33333333%; height: 260px; }
	#class .class-box{margin-bottom:20%;}
	#class .class-box .img>img{width:45%;}
	#class .class-box .en{margin:10% 0; padding:0; height:50px; line-height: 1.3; font-size: 1.4em;}
	#class .class-box .ko{font-size: 1.2em;}
	
	#review .review-slide ul li .cont h1{font-size: 3em;}
	#review .review-slide ul li .cont .name {margin-top:5%; font-size: 1.7em;}
	#review .review-slide ul li .cont .desc{margin-top:10%;font-size: 1.5em;}
	
	#trial-apply{padding:10% 0;}
	#trial-apply h1{font-size: 3em;}
	#trial-apply .btn-type2{margin-top:6%;}
	
	#tutor-desc ul{margin:10% 0 4% 0;}
	#tutor-desc li{margin-bottom:6%;}
	#tutor-desc li>h3{font-size: 24px;}
	#tutor-desc li>p{font-size: 17px;}	

	#tutor-list .list ul>li{width:192px;}
	#tutor-list .detail>li .info-box .first .introduce>p{font-size: 18px; line-height: 1.4;}
	#tutor-list .detail>li .info-box .second>h3{font-size: 22px; }
	#tutor-list .detail>li .info-box .second>p{font-size: 18px; }
	#tutor-list .detail>li .info-box .subject li{float: left; width:calc(100% / 4); width:-webkit-calc(100% / 4); width:-moz-calc(100% / 4);}
	
	#tutor-list .detail>li .btns{margin-top:6%;}
	#tutor-list .detail>li .btns .btn-type1:first-child{margin-right: 5%;}
	
	#about-content .cont-01{background-position: 50% 87%;}
	#about-content .cont-01 .logo{width:370px;}
	#about-content .cont-01 p{margin:10% 0; font-size: 1.5em;}
	#about-content .cont-02{min-height: 670px;}
	#about-content .cont-02 img{width:600px;}
	#about-content .cont-03 .o{display: none;}
	#about-content .cont-03 .m{display: block;}
	#about-content .cont-03 p{font-size: 1.3em;}
	#about-content .cont-03 .sign>img{width:200px;}
	
	#tutoring-content{margin:10% 0;}
	#tutoring-content .img-cont{max-width: 80%;}
	#tutoring-content .o{display: none;}
	#tutoring-content .m{display: block;}
	#tutoring-content .btns{margin-top:10%;}
	
	#about-content .cont-02{min-height: 750px;}
	
	#tutoring-curriculum h1{font-size: 2.3em;}	
	#tutoring-curriculum .tab-menu .row>div>a{height: 140px;}
	#tutoring-curriculum .tab-menu .row>div>a .en{font-size: 1.3em; letter-spacing: -1px;}
	#tutoring-curriculum .tab-menu .row>div>a .ko{font-size: 1.1em;}
	#tutoring-curriculum .tab-content h2 .en{font-size: 1.5em;}
	#tutoring-curriculum .tab-content h2 .ko{margin-left:15px; font-size: 1em;}
	#tutoring-curriculum .tab-content h3{font-size: 1.3em;}
	#tutoring-curriculum .tab-content dl>dt{font-size: 1.5em;}
	#tutoring-curriculum .tab-content dl>dd{font-size: 1.2em;}
	#tutoring-curriculum .btns{margin-top:10%;}
	
	#contactus-content .addr>iframe{height: 400px;}
	#contactus-content .contact-info .list .container{padding:0; width:100%;}
	#contactus-content .contact-info .list ul{border-right:0;}
	#contactus-content .contact-info .list ul>li:first-child{border-left:0;}
	#contactus-content .contact-info .list ul>li>a>img{max-width: 47%;}
	
	

}

@media (max-width: 767px) {	
	/* .btn-type1>a, .btn-type2>a{padding:0; width:200px; line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 1.3em; text-align: center;} */
	#navPrimary #breadcrumb>ul>li>a>em{display: none;}
	
	/*
	#header .btn-scroll{bottom:0; margin-left:-10px;}
	#header .btn-scroll>img{width:20px;}	
	
	 #header .info-box{margin-top:0;}
	#header .info-box .logo>img{width:40%;}
	#header .info-box .text{margin:5% 0; font-size: 24px;} */
	
	#why-britcent .m-row{display: block;}
	#why-britcent .row1, #why-britcent .row2{display: none;}
	
	#why-britcent{padding:15% 0;}
	#why-britcent h1{margin-bottom:15%; font-size: 3.3em;}
	#why-britcent .container-fluid{padding:0 5%;}
	#why-britcent .pros-box{padding:0; margin-bottom:0; height: 420px; overflow: hidden; }
	#why-britcent .pros-box .img>img{width:40%;}
	#why-britcent .pros-box .title{padding:30px; font-size: 1.4em;}
	#why-britcent .pros-box .desc{padding:0 20px; font-size: 1.15em;word-break: keep-all; }
	
	#tutor{padding-top:13%;}
	#tutor .title{margin-bottom:50px;}
	#tutor .title>h1{font-size: 3em;}
	#tutor .title>h4{margin-top:30px; font-size: 1.9em;}
	#tutor .btn-type1{margin-bottom:100px; }
	#tutor .container-fluid{padding-left:0; padding-right:0;}
	#tutor .tutor-list{margin-left:-50px; margin-right:-50px;}
	#tutor .tutor-list>a .introduce{top:-45px;}
	#tutor .tutor-list>a .introduce .name{font-size: 1.4em;}
	#tutor .tutor-list>a:first-child .introduce{margin-left:10px;}
	#tutor .tutor-list>a:last-child .introduce{margin-left:-12px;}
	#tutor .tutor-list>a .introduce .tag{margin-top:8px; font-size: 1.1em;}
	
	#review .review-slide ul li .cont h1{font-size: 2,5em;}
	#review .review-slide ul li .cont .name {margin-top:5%; font-size: 1.5em;}
	#review .review-slide ul li .cont .desc{margin-top:8%; width:70%; font-size: 1.2em;}	
	
	
	
	#about-content .cont-01 .logo{width:50%;}
	#about-content .cont-01 .img{width:65%;}
	#about-content .cont-01 p{font-size: 1.35em;}
	#about-content .cont-02 .container{width:100%;}
	
	#tutoring-content .btns .btn-type1:first-child{margin-right:4% !important;}
	#tutoring-content .btns .btn-type1, #tutoring-content .btns .btn-type2{width:47% !important;}
	#tutoring-content .btns .btn-type1>a, #tutoring-content .btns .btn-type2>a{width:100% !important; font-size: 1.2em;}
	
	#tutoring-curriculum h1{margin-bottom:40px; font-size: 2em;}
	#tutoring-curriculum .tab-menu .row>div{padding:0;}	
	#tutoring-curriculum .tab-menu .row>div>a{height: 120px;}
	#tutoring-curriculum .tab-menu .row>div>a .en{font-size: 1.3em; letter-spacing: -1px;}
	#tutoring-curriculum .tab-menu .row>div>a .ko{font-size: 1.1em;}
	#tutoring-curriculum .tab-content h2 .en{font-size: 1.1em;}
	#tutoring-curriculum .tab-content h2 .ko{margin-left:5px; font-size: 0.8em;}
	#tutoring-curriculum .tab-content h3{font-size: 1.1em;}
	#tutoring-curriculum .tab-content dl{margin-top:7%;}
	#tutoring-curriculum .tab-content dl>dt{padding-left:40px; font-size: 1.2em; line-height:25px; background-size: 25px auto !important;}
	#tutoring-curriculum .tab-content dl>dd{padding-left:40px; font-size: 1em;}
	#tutoring-curriculum .btns{margin-top:10%;}
	
	#recruit-content .o{display: none;}
	#recruit-content .m{display: block;}	
	
	#contactus-content .addr{margin-top:8%;}
	#contactus-content .addr img{max-width: 25%;}
	#contactus-content .addr h1{margin-top:5%; font-size: 2em;}
	#contactus-content .addr p{padding:15px 0; font-size: 1.4em; line-height: 1.4;}
	#contactus-content .addr dl{padding:15px 0; width:100%; font-size: 1.2em;}
	#contactus-content .addr dl>dt{float:inherit; margin-right:0;  font-size: 1.4em;}
	#contactus-content .addr dl>dd{float:inherit; line-height: 1.4;}	
	
	#community-content header .comm-nav>ul>li{padding:20px;}
	#community-content header .comm-nav>ul>li>a{font-size: 1.3em;}
	
	#community-content .o{display: none;}
	#community-content .m{display: block;}
	#community-content article .row>div{height: auto;}
	#community-content article .row>div:nth-child(odd){padding-left:15px;}
	#community-content .search-box,
	#community-content .board-box{padding:30px 45px;}
	#community-content .search-box{height: auto;}
	#community-content .board-box{margin-bottom:15px; height: 255px;}
	#community-content .board-box.noimg{padding:35% 30% 0 45px; text-align: left;}
	
	#community-content .search-box{margin-bottom:0;}
	#community-content .search-box input[type=text]{font-size: 1.35em;}
	#community-content .board-box>h2{font-size: 1.5em;}
	#community-content .board-box>p{font-size: 1.1em; word-break:keep-all;}
	#community-content .board-list>h2{height:45px; line-height: 45px;  font-size: 1.7em;}
	#community-content .board-box>h2 .ico-smile{ margin-left:5px; width:25px;}
	#community-content .board-box>p .btn-comm-go{right:-23%;}
	#community-content .board-list>ul>li>a{font-size: 1.2em;}	
	
}

@media (max-width: 600px) {
	
	#tutor-list .slide ul>li .o{display: none}
	#tutor-list .slide ul>li .m{display: block;}
	#tutor-list .detail>li .btns .btn-type1:first-child{margin-right: 3%;}
	
	#review .review-slide ul li .o{display: none;}
	#review .review-slide ul li .m{display: block;}	
	
	
	
	#community-content .board-box{padding:20px;}	
	
	#contactus-content .contact-info{margin: 12% auto 20% auto;}
	#contactus-content .contact-info>h1{font-size: 1.9em;}
	#contactus-content .contact-info .list{margin-top:7%;}
	#contactus-content .contact-info .list ul>li{padding:10px; margin-bottom:15px; width:50%; height: 184px; border-left:0; border-right: 1px solid #fff; }
	#contactus-content .contact-info .list ul>li:nth-child(even){ border-right:0; }
	#contactus-content .contact-info .list ul>li:last-child{margin-bottom:0;}	
	#contactus-content .contact-info .list ul>li>a>img{max-width: 80px;}
	#contactus-content .contact-info .list ul>li>a>p{height:65px; font-size: 1.1em; line-height: 1.2;}
	#contactus-content .contact-info .list ul>li>a>p>img{max-width: 30px;}
	
}

@media (max-width: 500px) {	
	.btn-type1>a, .btn-type2>a{padding:0; width:200px; line-height:2; font-family: 'NanumSquare', sans-serif; font-size: 1.3em; text-align: center;}
	#navPrimary.active .all-menu-list>ul>li>a{font-size: 26px;}
	#header .info-box{margin-top:45%;}
	#header .info-box .logo>img{width:60%;}
	#header .info-box .text{margin:7% 0; font-size: 24px;}
	#header .btn-scroll{bottom:0; margin-left:-10px;}
	#header .btn-scroll>img{width:20px;}	
	
	
	#why-britcent{padding:20% 0;}
	#why-britcent h1{margin-bottom:20%; font-size: 2.3em;}
	#why-britcent .container-fluid{padding:0 5%;}
	#why-britcent .pros-box{padding:0; height: 420px; overflow: hidden; }
	#why-britcent .pros-box .img>img{width:60%;}
	#why-britcent .pros-box .title{padding:25px 0; font-size: 1.2em;}
	#why-britcent .pros-box .desc{padding:0; font-size: 1em;word-break: keep-all; }	
	
	#whenever .title{padding:10% 0;}
	#whenever .title h1{font-size: 1.7em;}
	#whenever .title h4{margin-top:5%; font-size: 1.2em;}	
	#whenever .loc-box>h3{font-size: 1.5em;}
	#whenever .loc-box>p{margin-top:20px; width:90%; height:60px; font-size: 0.8em;}
	
	#tutor{padding-top:15%;}
	#tutor .title{margin-bottom:11%;}
	#tutor .title>h1{font-size: 1.8em;}
	#tutor .title>h4{margin-top:20px; font-size: 1.5em;}
	#tutor .btn-type1{margin-bottom:12%;}
	
	#tutor .tutor-list { margin-left: -25px; margin-right: -25px;}
	#tutor .tutor-list>a{margin-left:-10%; width:27%;}
	#tutor .tutor-list>a .introduce{margin-bottom:15px;}
	#tutor .tutor-list>a:hover .introduce{margin-bottom:0; transform:translate3d(0, -50%, 0); -o-transform:translate3d(0, -50%, 0); -moz-transform:translate3d(0, -50%, 0); -webkit-transform:translate3d(0, -50%, 0); -ms-transform:translate3d(0, -50%, 0);}
	#tutor .tutor-list>a:first-child .introduce{margin-left:15px;}
	#tutor .tutor-list>a:last-child .introduce{margin-left:-20px;}
	#tutor .tutor-list>a .introduce .name{font-size: 1em;}
	#tutor .tutor-list>a .introduce .name>span{padding-left: 21px;}
	#tutor .tutor-list>a .introduce .tag{margin-top:5px; font-size: 0.8em}
	#tutor .tutor-list>a .introduce .tag>span{padding-left:17px;}	
	#tutor .tutor-list>a:hover>img{transform:scale(1.1) translate3d(0, 6%, 0); -o-transform:scale(1.1) translate3d(0, 6%, 0); -moz-transform:scale(1.1) translate3d(0, 6%, 0); -webkit-transform:scale(1.1) translate3d(0, 6%, 0); -ms-transform:scale(1.1) translate3d(0, 6%, 0);}
	
	#class{padding:10% 0 0 0;}
	#class .container-fluid{padding:0 15px;}
	#class .row>div{padding:0 5px; height: 180px;}
	#class .class-box{margin-bottom:20%;}
	#class .class-box .img>img{width:55%;}
	#class .class-box .en{margin:10% 0; padding:0; height:auto; line-height: 1.3; font-size: 1em;}
	#class .class-box .ko{font-size: 0.9em; letter-spacing: -1px;}
	
	#review .review-slide .bx-wrapper .bx-pager{bottom:10%;}
	/* #review .review-slide ul li img{height: 300px;} */
	#review .review-slide ul li .cont{bottom:25%;}
	#review .review-slide ul li .cont h1{font-size: 1.8em;}
	#review .review-slide ul li .cont .name {font-size: 1.3em;}
	#review .review-slide ul li .cont .desc{width:80%; font-size: 1em; line-height:1.3; word-break: keep-all;}
	
	#trial-apply{padding:15% 0;}
	#trial-apply h1{font-size: 1.85em;}
	#trial-apply .btn-type2{margin-top:10%;}
	
	#footer{padding:40px 0 30px;}
	#footer .logo{float: none; width:100%; text-align: center;}
	#footer .logo>img{display: inline-block; width:60%; }
	#footer .sns{float: none; margin:8% auto 0 auto;}
	#footer .copyt{margin-top:8%; font-size:0.95em; letter-spacing: -0.5px;}
	#footer .copytp>strong{font-size: 1.2em;}
	
	#visual .bg{height: 350px;}
	
	#tutor-desc ul{margin:13% 0 0 0;}
	#tutor-desc li{padding:0 20px; margin-bottom:13%;}
	#tutor-desc li>h3{font-size: 22px;}
	#tutor-desc li>p{font-size: 15px; line-height: 1.3;}
	
	#tutor-list .slide {margin-top:50px;}
	
	#tutor-list .list ul>li{width:140px;}
	
	#tutor-list .detail>li{padding:0;}
	#tutor-list .detail>li .info-box .first .introduce{padding:30px 15px;}
	#tutor-list .detail>li .info-box .first .introduce>p{font-size: 15px; line-height: 1.4;}
	#tutor-list .detail>li .info-box .second{padding:20px 15px;}
	#tutor-list .detail>li .info-box .second>h3{margin-bottom:10px; font-size: 20px; }
	#tutor-list .detail>li .info-box .second>p{font-size: 15px; }
	#tutor-list .detail>li .info-box .subject li{width:calc(100% / 3); width:-webkit-calc(100% / 3); width:-moz-calc(100% / 3);}
	#tutor-list .detail>li .btns{margin-top:4%; padding:0 15px;}
	#tutor-list .detail>li .btns .btn-type1:first-child{margin-right: 0; }
	#tutor-list .detail>li .btn-type1{width:90%; margin-top:6%;}
	
	#recruit-content .btns{bottom:22px;}
	
	#about-content .cont-01{ background-size: 120% auto; background-position: 50% 94%;}
	#about-content .cont-01 .logo{width:60%;}
	#about-content .cont-01 p{margin:12% 0; font-size: 1.2em; }
	#about-content .cont-01 .img{width:100%;}
	#about-content .cont-02 p{line-height:1.7; font-size: 1.2em;}
	#about-content .cont-02{min-height: 513px;}
	#about-content .cont-03 p{font-size: 1.1em;}
	#about-content .cont-03 .sign>img{width:170px;}
	
	#tutoring-content .img-cont{max-width: 100%;}
	
	#recruit-content .btns .btn-type1>a{width:150px; font-size:1em; }
	
	
	#contactus-content .contact-info .list ul>li{height: 165px;}
	#contactus-content .contact-info .list ul>li>a>img{max-width: 60px;}
	
	#community-content header .comm-nav>ul{display: block;}
	#community-content header .comm-nav>ul>li{width:33.333333%; padding:15px 0;}
	
	#community-content article{margin-top:25px;}
	#community-content .search-box, #community-content .board-box{padding:15px 10px;}
	#community-content .board-box, #community-content div.board-box{height:220px; }
	#community-content .board-box.noimg{padding: 52% 30px 0 15px;}
	
	#community-content .search-box input[type=text]{font-size: 1.2em;}
	#community-content .search-box input[type=submit]{width:25px;}
	#community-content .board-list>h2{font-size: 1.3em;}	
	#community-content .board-list>h2 .btn-more-go{width:60px;}
	#community-content .board-list>ul>li>a{font-size: 1.1em;}	
	#community-content .board-box .ico-img{width:65px;}
	#community-content .board-box>h2{font-size: 1.3em;}
	#community-content .board-box>h2 .ico-smile{width:20px;}
	#community-content .board-box>p{font-size: 1em; line-height: 1.3;}
	#community-content .board-box>p .btn-comm-go{right:-13%;}
	
	
}


@media (min-width: 768px) {	
	#community-content .m{display: none;}
	#community-content header .comm-nav>ul>li{padding:25px;}
	#community-content header .comm-nav>ul>li>a{font-size: 1.3em;}	
	#community-content article .row>div{height: 255px;}
	#community-content .search-box{height: 85px;  padding:11% 7%;}
	#community-content .search-box input[type=text]{font-size: 1.35em;}
	#community-content .board-box{padding:10%;}
	#community-content div.board-box{padding:13% 23% 0 11%; height: 154px;}
	#community-content .board-box>h2{font-size: 1.5em;}
	#community-content .board-box>h2 .ico-smile{width:25px;}
	#community-content .board-box>p{font-size: 1.1em; word-break:keep-all;}
	#community-content .board-list>h2{height:45px; line-height: 45px;  font-size: 1.6em;}
	#community-content .board-list>h2 .btn-more-go{width:60px;}
	#community-content .board-box>p .btn-comm-go{right:-27%;}
	#community-content .board-list>ul>li>a{font-size: 1.1em;}
}

@media (min-width: 992px){
	#community-content .m{display: none;}
	#community-content header .comm-nav>ul>li>a{font-size: 1.5em;}	
	#community-content article .row>div{height: 270px;}
	#community-content .search-box{height: 90px;  padding:9% 7%;}
	#community-content .search-box input[type=text]{font-size: 1.5em;}
	#community-content .board-box{padding:10%;}
	#community-content div.board-box{padding:10% 25% 0 10%; height: 164px;}
	#community-content .board-box>h2{font-size: 1.7em;}
	#community-content .board-box>h2 .ico-smile{width:30px;}
	#community-content .board-box>p{font-size: 1.25em; }		
	#community-content .board-list>h2{height:50px; line-height: 50px;  font-size: 1.8em;}
	#community-content .board-list>h2 .btn-more-go{width:65px;}
	#community-content .board-list>ul>li{padding:12px 5%;}
	#community-content .board-list>ul>li>a{font-size: 1.4em;}
}

@media (min-width: 1200px){
	#community-content .m{display: none;}
	#community-content header .comm-nav>ul>li>a{font-size: 1.7em;}
	#community-content article .row>div{height: 300px;}
	#community-content .search-box{ height: 100px; padding:8% 7%;}
	#community-content .board-box{padding:10% 15%;}
	#community-content div.board-box{padding: 12% 27% 0 10%; height: 184px;}
	#community-content .board-box>h2{font-size: 2em;}
	#community-content .board-box>h2 .ico-smile{width:30px;}
	#community-content .board-box>p{font-size: 1.4em; }
	#community-content .board-box>p .btn-comm-go{right:-28%;}	
	#community-content .board-list>h2{height:55px; line-height: 55px;  font-size: 2em;}
	#community-content .board-list>h2 .btn-more-go{width:65px;}
	#community-content .board-list>ul>li{padding:13px 5%;}
	#community-content .board-list>ul>li>a{font-size: 1.5em;}
}











